/* CSS VARIABLES */

:root {
  --background-primary: #B2BFD6ff;
  --background-secondary: #96BCDDff;
  --background-tertiary: #11232Eff;
  --text-primary: #1f2403;
  --text-secondary: #e1e1e1;
}

/* :root[data-theme='dark'] {
  --background-primary: #132221;
  --background-secondary: #476462;
  --text: #e1e1e1;
} */

/* ZÁKLADNÍ STYLY */

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-primary);
  font-family: "Alegreya Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

span {
  line-height: 1.5;
}

/* HLAVIČKA - NAVIGACE */

.page-header {
  padding: 1.5rem;
  padding-bottom: 0;

  display: flex;
  justify-content: space-between;
  background-color: var(--background-tertiary);
}

.logo {
  font-size: 1.5rem;
  color: var(--text-secondary);
  /* font-family: ; */
}

.navlink {
  text-decoration: none;
  margin-right: 0.5rem;
  color: var(--text-secondary);
}

/* HLAVNÍ NADPIS */

.pitch {
  padding: 2.5rem 1.5rem;
  font-size: 2.5rem;
  color: var(--text-secondary);

  /* font-family: ; */
  text-align: center;

  background-image: url("/images/landscape-7534634_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;

  /* background-color: var(--background-secondary); */
}

/* ÚVODNÍ TEXT  */

.subheading {
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
  background-color: var(--background-primary);
}

.subheading__content {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

/* RECENZE */

.review {
  padding: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background-secondary);
}

.review__title {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.review__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review__text {
  padding: 2rem;
  font-size: 1.3rem;
  font-style: oblique;
  border: 2px solid var(--background-primary);
}

/* PATIČKA - KONTAKT */

.footer {
  padding: 2.5rem 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-secondary);
  background-color: var(--background-tertiary);
}


@media (min-width: 840px) {

  /* HLAVIČKA - NAVIGACE */

  .page-header {
    padding: 2rem 4rem;
    padding-bottom: 0;
  }

  .logo {
    font-size: 2.25rem;
  }

  .navlink {
    font-size: 1.5rem;
  }

  /* HLAVNÍ NADPIS */

  .pitch {
    font-size: 3rem;
  }

  /* ÚVODNÍ TEXT */

  .subheading {
    padding: 2.5rem 4rem;
    font-size: 1.75rem;
  }

  /* RECENZE */

  .review__text {
    width: 300px;
    padding: 1.5rem;

    background-color: var(--background-secondary);
    position: relative;
    left: 60px;
  }

  .review__photo {
    background-image: url("/images/peyne-francois-19LlB9pzyfM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 400px;
  }
}

@media (min-width: 1200px) {

  nav {
    gap: 2rem;
  }
}
