/* CSS VARIABLES */

:root {
  --background-primary: #B2BFD6ff;
  --background-secondary: #96BCDDff;
  --background-tertiary: #11232Eff;
  --text-primary: #1f2403;
  --text-secondary: #e1e1e1;
}

/* ZÁKLADNÍ STYLY */

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-primary);
  font-family: "Alegreya Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* HLAVIČKA - NAVIGACE */

.page-header {
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-tertiary);
}

.logo {
  font-size: 1.5rem;
  color: var(--text-secondary);
  /* font-family: ; */
}

.navlink {
  text-decoration: none;
  margin-right: 0.5rem;
  color: var(--text-secondary);
}

/* HLAVNÍ NADPIS */

.pitch {
  position: relative;

  font-size: 2.5rem;
  color: var(--text-secondary);
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  /* font-family: ; */

  background-image: url("images/landscape-7534634_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.heading {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: normal;
  font-size: 3rem;

  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5em 0.5em;
  border-radius: 8px;
}

/* ÚVODNÍ TEXT  */

.subheading {
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
  background-color: var(--background-primary);
  text-align: center;
}

.subheading__motto {
  text-align: center;
}

.subheading__content {
  max-width: 800px;
  padding: 50px;
  line-height: 1.5;
}

.subheading__photo {
  width: 200px;
  border-radius: 50%;
  border: 1px solid white;

}

/* NÁHLED */

.preview {
  padding: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background-secondary);
}

.preview__title {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.preview__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview__text {
  padding: 2rem;
  font-size: 1.3rem;
  font-style: oblique;
  line-height: 1.5;
  border: 2px solid var(--background-primary);
}

/* PATIČKA */

.footer {
  padding: 2.5rem 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-secondary);
  background-color: var(--background-tertiary);
}


@media (min-width: 840px) {

  /* HLAVIČKA - NAVIGACE */

  .page-header {
    padding: 2rem 4rem;
  }

  .logo {
    font-size: 2.25rem;
  }

  .navlink {
    font-size: 1.5rem;
  }

  /* HLAVNÍ NADPIS */

  .pitch {
    font-size: 3rem;
  }

  .heading {
    font-size: 3.5rem;
  }

  /* ÚVODNÍ TEXT */

  .subheading {
    padding: 2.5rem 4rem;
    font-size: 1.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .subheading__motto {
    padding: 2rem;
    font-style: oblique;
  }

  .subheading__content {
    text-align: left;
    border-left: 2px solid var(--background-tertiary);
  }

  .subheading__photo {
    /* width: 200px; */
    /* border-radius: 50%; */
    float: left;
  }

  /* NÁHLED */

  .preview__text {
    width: 300px;
    padding: 1.5rem;

    background-color: var(--background-secondary);
    position: relative;
    left: 60px;
  }

  .preview__photo {
    background-image: url("images/peyne-francois-19LlB9pzyfM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 400px;
  }
}

@media (min-width: 1200px) {

  nav {
    gap: 2rem;
  }

  .heading {
    font-size: 4.5rem;
  }
}
